.players-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 40px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.order {
    background-color: rgb(228, 115, 153, 0.3);
    position: sticky;
    top: 0px;

}

.order-title {
    text-align: center;
}